APPWRITE_API_KEY=your-appwrite-api-key
APPWRITE_DATABASE_ID=your-database-id
WALLETS_COLLECTION_ID=wallets
WITHDRAWALS_COLLECTION_ID=withdrawals
TRANSACTIONS_COLLECTION_ID=transactions
MINIMUM_WITHDRAW=50000
USERS_COLLECTION_ID=users
