APPWRITE_DATABASE_ID=marketiv-db
USERS_COLLECTION_ID=users
WITHDRAWALS_COLLECTION_ID=withdrawals
WALLETS_COLLECTION_ID=wallets
TRANSACTIONS_COLLECTION_ID=transactions
NOTIFICATIONS_COLLECTION_ID=notifications
