APPWRITE_DATABASE_ID=6a4c8598001da3b0d7f0
USERS_COLLECTION_ID=users
CAMPAIGNS_COLLECTION_ID=campaigns
CAMPAIGN_CLAIMS_COLLECTION_ID=campaign_claims
CAMPAIGN_SUBMISSIONS_COLLECTION_ID=campaign_submissions
NOTIFICATIONS_COLLECTION_ID=notifications
